<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="main-content">
      <h1><%= yield :title %></h1>
      <p><%= yield :info %></p>
      <%= yield %>
    </div>
    <div class="navigation">
      <ul>
        <li><%= link_to("All pictures", "/pictures") %></li>
        <li>
          <div class="search">    
          <%= form_tag("/search", method: "get", class:"css-class") do %>
          <%= text_field_tag(:q, nil, placeholder: "search for", class: "searchfield") %>
          <%= submit_tag("GO", :class => "searchbutton") %>
          </div>
        <% end %>
        </li>
        <li><%= link_to("Add a picture", "/pictures/new") %></li>
      </ul>
    </div>

  </body>
</html>
